@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 120vh;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}

.title {
    line-height: 50px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text-light;
    text-align: center;
}

.main-container {
    background: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
}

.illustration {
    width: 162px;
    height: 116px;
    transform: translate(151px, -80px);
    visibility: hidden;
}
footer {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin-top: 40px;
    .user-link {
        font-weight: 700;
        color: #fff;
    }
    .footer-link {
        font-weight: 500;
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    body {
        min-height: 100vh;
    }
    .App {
        padding-top: 8rem;
    }

    .title {
        line-height: 54px;
        font-size: 36px;
        text-align: left;
    }

    .main-container {
        min-width: 464px;
    }

    .illustration {
        visibility: visible;
    }

    footer {
        position: absolute;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 5px;
    }
}

.btn {
    cursor: pointer;
    background-color: $orange;
    color: #fff;
    width: 116px;
    height: 56px;
    border: none;
    outline: none;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
